@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'blocks/header';
@import 'blocks/container';
@import 'blocks/intro';
@import 'blocks/app-work';
@import 'blocks/download';
@import 'blocks/footer';

