/*Media 560, 455, 387*/

@media screen and (max-width:560px){
    .intro{
        background: white;
        min-height: 560px;
        &__inner{
            padding-bottom: 0;
            padding-top: 40px;
            p{
                color: $subBlack;
                &:first-child{
                    margin-bottom: 13px;
                }
            }
            h1{
                margin-bottom: 30px;
                color: $black;
            }
            .intro__btns {
                margin-top: 25px;
                .btn:nth-child(2){
                    border-color: $orange;
                    color: $orange;
                    &:hover{
                        background-color:$orange;
                        color: white;
                    }
                }
            }
        }
    }
    .phones{
        min-height: 660px;
        background: url('../img/intro_phones.svg') -50px 55% /cover no-repeat;
        img{
            display: none;
        }
    }
    .app-work{
        &__title{
            border-top: none;
            border-bottom: 3px solid #e4e4e4;
            padding-top: 0;
            padding-bottom: 45px;
            margin-bottom: 60px;
            font-size: 35px;
        }
        .create{
            flex-direction: column-reverse;
            &__text{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            &__img{
                width: 100%;
                text-align: center;
            }
            img{
                width: auto;
            }
        }
        .explore{
            flex-direction: column;
            &__text{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            &__img{
                width: 100%;
                text-align: center;
            }
            img{
                width: auto;
            }
        }
    }
    .work{
        &__title{
            font-size: 24px;
            margin-bottom: 17px;
        }
        &__subtitle{
            font-size: 35px;
            margin-bottom: 17px;
        }
        &__description{
            font-size: 21px;
            line-height: 30px;
        }
    }
    .download{
        background:$black;
        &__inner{
            padding:90px 20px;
        }
    }
}
@media screen and (max-width:455px){
    .intro{
        &__btns {
            flex-direction: column;
            max-width: 240px;
            margin: 0 auto;
            .btn{
                font-size: 25px;
            }
            .btn:nth-child(2){
                margin-left: 0;
                margin-top: 17px;
            }
        }
    }
    .phones{
       background: url(../img/intro_phones.svg) 100% 55%/cover no-repeat;
    }
    .download__btns{
        flex-direction: column;
        .btn{
            font-size: 20px;
        }
        .btn:last-child{
            margin-left: 0;
            margin-top: 16px;
        }
    }
}
@media screen and (max-width:387px){
    .header .nav{
        width: 220px;
    }
    .intro__inner {
        h1 {
            font-size: 36px;
        }
        p{
            font-size: 20px;
        }
    }
    .phones{
        min-height: 500px;
    }
    .app-work__title{
        width: auto;
        font-size: 31px;
    }
}
