.app-work{
    &__title{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 44px;
        line-height: 36px;
        letter-spacing: 0.1px;
        color: rgba(0,0,0,.8);
        text-align: center;
        margin: 0 auto;
        margin-bottom: 137px;
        width: 884px;
        border-top: 3px solid #E4E4E4;
        padding-top: 72px;
    }
}

.create{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 145px;
    &__img{
        width: 50%;
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    &__text{
        width: 50%;
    }
    &:last-child{
        margin-bottom: 162px;
    }
}

/*------------------*/
.work__title{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: $orange;
    margin-bottom: 17px;
}
.work__subtitle{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 17px;
    width: 595px;
}
.work__description{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
/*------------------*/

.explore{
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 145px;
    &__img{
        width: 50%;
        text-align: end;
        filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
    }
    &__text{
        width: 50%;
    }
}