.download{
    min-height: 509px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
    color: white;
    background:url('../img/download-bg.svg') center (center/cover) no-repeat fixed;
   
    &__inner{
        display: flex;
        text-align: center;
        flex-direction: column;
        padding: 140px 130px;
    }
    &__title{
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        margin-bottom: 10px;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 60px;
    }
    &__btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .btn{
            @include TransitionMix;
            @include btn(17px,30px,10px,$orange);
            border: 1px solid $orange;
            &:hover{
                background-color: transparent;
                color: $orange;
            }
            &:last-child{
                @include btn(15px,44px,10px,transparent);
                border: 1px solid white;
                margin-left: 16px;
                &:hover{
                    border-color: $orange;
                    color: $orange;
                }
            }
        }
    }
}