.header{
    min-height: 156px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;

    @include TransitionMix(.3s);
    &.fixed{
        position: fixed;
        width: 100%;
        min-height: auto;
        background-color: white;
        z-index: 9999;
        border-bottom: 2px solid $orange;
    }
    &.fixed &__inner{
        padding: 0;
    }
    &__inner{
        display: flex;
        justify-content: space-around;
        padding: 27px 0;
    }
    .nav{
        margin: 41px 0;
        &__link{
            text-decoration: none;
            color: $black;
            margin-right: 114px;
            @include TransitionMix(.15s);

            &:last-child{
                margin-right: 0;
            }
            &:hover,
            &:focus{
                color: $orange;
            }
        }
    }
    #menu__toggle{//for burger menu
        display: none;
    }
}
