@mixin TransitionMix($delay) {
 -webkit-transition: all $delay linear; /* Safari and Chrome */
    -moz-transition: all $delay linear; /* Firefox 4 */
      -o-transition: all $delay linear; /* Opera */
         transition: all $delay linear;
  }

@mixin btn($ptb, $plr, $br, $bgc){
   border-radius: $br;
   background-color: $bgc;
   padding: $ptb $plr;
   text-decoration: none;
   color: white;

   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}

@mixin burger(){

    #menu__toggle {
      opacity: 0;
      &:checked {
        & ~ .menu__btn > span {
          transform: rotate(45deg);
          
          &::before {
            top: 0;
            transform: rotate(0);
          }
          &::after {
            top: 0;
            transform: rotate(90deg);
          }
        }
        & ~ .nav {
          visibility: visible;
          right: 0;
        }
      }
    }
    
    .menu__btn {
      display: flex;
      align-items: center;
      position: absolute;
      top: 40%;
      right: 40px;

      width: 26px;
      height: 26px;

      cursor: pointer;
      z-index: 999;

      & > span,
      & > span::before,
      & > span::after{
        display: block;
        position: absolute;

        width: 100%;
        height: 3px;

        background-color: #737373;

        transition-duration: 0.25s;
      }

      & > span::before {
        content: "";
        top: -8px;
      }
      & > span::after {
        content: "";
        top: 8px;
      }
    }

    .header{
      .nav {
        margin: 0;
        
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;

        width: 300px;
        height: 100%;

        z-index: 998;
        
        padding: 100px 0;

        list-style: none;

        background-color: white;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

        transition-duration: 0.25s;

        &__link {
          display: block;
          padding: 12px 24px;
    
          color: $black;
    
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-weight: 600;
    
          text-decoration: none;
    
          transition-duration: 0.25s;

          &:hover {
            background-color: $orange;
            color:white!important;
          }
        }
      }
    }
}